<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :multipart => true}) do |f| %>
  <%= devise_error_messages! %>

  <div class="container">
  <div class="row">
    <div class="col-md-3">

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, :class => "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password_confirmation, autocomplete: "off" , :class => "form-control"%>
  </div>
  </div>

  <div class="col-md-6">

  <!-- modify from here to get additional fields -->

  <!-- first name -->
  <div class="form-group">
    <%= f.label :firstname, "First Name" %>
    <%= f.text_field :firstname, autocomplete: "off",placeholder: "First Name", :class => "form-control"%>
  </div>

  <!-- last name -->
  <div class="form-group">
    <%= f.label :lastname, "Last Name" %>
    <%= f.text_field :lastname, autocomplete: "off",placeholder: "Last Name" , :class => "form-control"%>
  </div>

  <!-- birthday -->
  <div class="form-group">
    <%= f.label :birthday, "Birthday" %>
    <%= f.date_field :birthday, autocomplete: "off" , :class => "form-control"%>
  </div>

  <!-- height ft -->
  <div class="form-group">
    <%= f.label :heightft, "Height (ft)" %>
    <%= f.number_field :heightft, autocomplete: "off",placeholder: "height (ft)" , :class => "form-control"%>
  </div>

  <!-- height in -->
  <div class="form-group">
    <%= f.label :heightin, "Height (in)" %>
    <%= f.number_field :heightin, autocomplete: "off", placeholder: "height (in)", :class => "form-control"%>
  </div>

  <!-- weight -->
  <div class="form-group">
    <%= f.label :weight, "Weight (lbs)" %>
    <%= f.number_field :weight, autocomplete: "off",placeholder: "weight (lbs)" , :class => "form-control"%>
  </div>

  <!-- lifestyle -->
  <div class="form-group">
    <%= f.label :lifestyle, "Lifestyle" %>
    <%= f.select :lifestyle, ["sedentary", "active","pro-athete"] , :class => "form-control"%>
  </div>

  <!-- weight goals -->
  <div class="form-group">
    <%= f.label :weightgoal, "Weight Goal" %>
    <%= f.select :weightgoal, ["shed them lbs","as sexy as I can be","bulk up"] , :class => "form-control" %>
  </div>

  <!-- target weight -->
  <div class="form-group">
    <%= f.label :targetweight, "Target Weight" %>
    <%= f.number_field :targetweight, autocomplete: "off",placeholder: "target weight" , :class => "form-control"%>
  </div>

  <!-- photo -->
  <div class="form-group">
    <%= f.label :photo %>
    <%= f.file_field :photo, :class => "form-control"%>
  </div>

   <div class="form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "off" , :class => "form-control"%>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
  </div>
  </div>


