<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="container">
  <div class="row">
    <div class="col-md-3">



  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, placeholder: "Email"%>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off",placeholder: "password" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off",placeholder: "confirm password" %>
  </div>

  </div>

  <div class="col-md-6">
  <!-- modify from here to get additional fields -->

  <!-- first name -->
  <div class="form-group">
    <%= f.label :firstname, "First Name" %>
    <%= f.text_field :lastname, autocomplete: "off",placeholder: "First Name"%>
  </div>

  <!-- last name -->
  <div class="form-group">
    <%= f.label :lastname, "Last Name" %>
    <%= f.text_field :lastname, autocomplete: "off",placeholder: "Last Name" %>
  </div>

  <!-- birthday -->
  <div class="form-group">
    <%= f.label :birthday, "Birthday" %>
    <%= f.date_field :birthday, autocomplete: "off" %>
  </div>

  <!-- height ft -->
  <div class="form-group">
    <%= f.label :heightft, "Height (ft)" %>
    <%= f.number_field :heightft, autocomplete: "off",placeholder: "height (ft)" %>
  </div>

  <!-- height in -->
  <div class="form-group">
    <%= f.label :heightin, "Height (in)" %>
    <%= f.number_field :heightin, autocomplete: "off", placeholder: "height (in)"%>
  </div>

  <!-- weight -->
  <div class="form-group">
    <%= f.label :weight, "Weight (lbs)" %>
    <%= f.number_field :weight, autocomplete: "off",placeholder: "weight (lbs)" %>
  </div>

  <!-- lifestyle -->
  <div class="form-group">
    <%= f.label :lifestyle, "Lifestyle" %>
    <%= f.text_field :lifestyle, autocomplete: "off" %>
  </div>

  <!-- weight goals -->
  <div class="form-group">
    <%= f.label :weightgoal, "Weight Goal" %>
    <%= f.text_field :weightgoal, autocomplete: "off"  %>
  </div>

  <!-- target weight -->
  <div class="form-group">
    <%= f.label :targetweight, "Target Weight" %>
    <%= f.number_field :targetweight, autocomplete: "off",placeholder: "target weight" %>
  </div>

  <!-- photo -->
  <div class="form-group">
    <%= f.label :photo %>
    <%= f.file_field :photo, autocomplete: "off" %>
  </div>


  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

  </div>

  </div>
</div>



<% end %>

<%= render "devise/shared/links" %>
