<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="container">
  <div class="row">
    <div class="col-md-3">



  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  </div>

  <div class="col-md-6">
  <!-- modify from here to get additional fields -->

  <!-- first name -->
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <!-- last name -->
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <!-- birthday -->
  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <!-- height ft -->
  <div class="field">
    <%= f.label :height_ft %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <!-- height in -->
  <div class="field">
    <%= f.label :height_in %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <!-- weight -->
  <div class="field">
    <%= f.label :weight_lbs %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <!-- lifestyle -->
  <div class="field">
    <%= f.label :lifestyle %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <!-- weight goals -->
  <div class="field">
    <%= f.label :weight_goals %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <!-- target weight -->
  <div class="field">
    <%= f.label :target_weight %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <!-- photo -->
  <div class="field">
    <%= f.label :photo %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>


  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

  </div>

  </div>
</div>



<% end %>

<%= render "devise/shared/links" %>
